html{
height: 100vh;
}

body {
    /*min-height:100%;*/
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  margin:0;
  font-family: 'Work Sans', sans-serif;
/*  background-color:#EFE2CF;
*/
background-color:#ECE8E0;
color: #263B4A;
}

h2{
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin:10px;
  line-height: 1.5em;
}

.about_header{

    text-align: left;
    margin:1em 0 0.3em;
}

.about_text{

    margin :0;
}

#result_text{
/*    background-color: #AABDD4;
*/    margin:0;
    font-size:35px;


}

.result_text{
    margin: 15px 0 ;
    width:100%;
}

.api_url{
    padding:5px;
    background-color:#B3Bcc7;
    text-align: center;

}

h1{
  text-align: center;
  font-size: 60px;
  font-weight: 400;
  margin: 10px;

}

p{
    /*font-family: 'Work Sans', sans-serif;*/
}

nav{
  height:3em;
/*  background-color: #504463;*/
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
  align-items: center;
     border-width: 2px;
   border-bottom: 1px #6D84A7 solid;
}

a{
    color: #3E618A;
    text-decoration: none;
}

a:hover{
    color:#AABDD4;
    }

.nav_link{
  margin: 1.5em;
  color:#263B4A;

}

.container{
flex:1;
padding: 0 15% 0 15%;
 /*background-color: skyblue;*/
display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;

}

.content{
    flex:1;
/*    height:auto;*/
  display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: column;
   flex-direction: column;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin: 1.5% 0% 1.5% 0%;
   width:100%;

}
.entry_box{
  margin: 20px;
  background-color: #AABDD4;
  border-radius: 5px;
  padding: 2em;
  justify-content: center;
  align-items:center;
  flex-direction:column;
  flex:1;
/*  width:400px;
*/
  width:100%;
display:flex;
}

#input-map-and-form-div{

    display:flex;
    flex-direction:row;
}

.form_input{
  display: flex;
justify-content: center;
align-items:center;
width: 250px;

}

button {
    background-color: #3f5672;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

button:hover {
    background-color: #28405d;

}

input{
  height: 3em;
  width: 12em;
  border-radius: 4px;
  background-color: #F4F4F4;
  color: #263B4A;
  font-size: 12px;
}

.input_text{
  flex:1;
}

.input_form{
  flex:1;

  /*text-align: center;*/

}

.button_box{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0 0 0;
}

#input-map-explain{
font-size: 10px;
text-align: center;
}

footer{
  background-color: #6D84A7;
  margin: 0px;
  display: flex;
justify-content: center;
  align-items: center;

}

#footer_text{
    font-size: 10px;
    margin: 1em;
}

#summary_stats{
    font-size:25px;
    margin:20px 0 40px;
}

#instructions_for_rollover{
 margin:10px ;
 font-size: 10px;
 text-align: center;
}


#warning{

    color:#ae5b59;
}

/*******leaflet*********/

.map { height: 330px;
        /*width: 50%;*/
        margin:20px;
        border-radius: 5px;
        z-index: 0;
        /*flex:1;*/
        width:300px;
        }
#map{

    width:80%;
}
/*********d3************/

svg{

    height:auto;
}

.bar {
  fill: #5d6c86;
}

.bar:hover{

    fill:#B3BCC7;
}
text {
  font-size: 10px;
  color: #263B4A;
}

.axis path,
.axis line {
  fill: none;
  stroke: #263B4A;
  shape-rendering: crispEdges;
}



div.tooltip {
    position: relative;
    text-align: center;
    width: 500px;
    height: 28px;
    padding: 2px;
    font: 10px;
    background: #EFE2CF;
    border: 0px;
    pointer-events: none;
    top: 20px;


}
.chart{

    /*background-color: #ECE8E0;*/
}

.rainfall_bar{

    fill:#9286a7;
}

#tooltip_div{
    text-align: center;
    height:28px;
    margin:10px;
}