<!DOCTYPE html>

<html>
{%include 'head.html' %}

<body>

  <nav>

      <a class = nav_link href= '/'> NEW QUERY </a>
      <a class = nav_link href = '/about'> ABOUT </a>

    </nav>

  <div class=container>
    <div class=content>

       <div class="about_para">
        <p> This app provides API access to the TRMM data. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In pretium et lectus a sollicitudin. Suspendisse ornare sapien eget lorem luctus, a imperdiet dolor ultrices. Phasellus tempor id est vel consequat. Mauris sed maximus ante. Sed non aliquet leo. Aenean venenatis, lacus ac viverra sagittis, est libero tincidunt quam, nec porta est lacus vitae libero. Vestibulum vitae vestibulum libero, eu ornare dolor. Sed massa neque, dignissim ut libero ac, lacinia commodo est. Donec lacinia posuere enim, sit amet consequat lacus sodales ac. Sed sodales, purus nec lobortis finibus, mauris turpis venenatis massa, vitae sollicitudin nisl dolor porta erat. Nunc consectetur nunc in vulputate pharetra. Ut eleifend enim ipsum, sit amet condimentum ligula pharetra id. Cras sit amet interdum orci, et consequat est. </p>
        </div>

    </div>
  </div>


  <footer>
    <p>
    Some footer
    </p>
  </footer>
</body>
</html>