<!DOCTYPE html>

<html>
{%include 'head.html' %}
    <title> rainfall data | about </title>

<body>

  <nav>

        {%include 'nav.html' %}
    </nav>

  <div class=container>
    <div class=content>

       <div class="about_para">
        <h2 class = about_header> About </h2>
        <p class= about_text> This app provides API access to historical <a href = 'http://pmm.nasa.gov/trmm'> Tropical Rainfall Monitoring Mission (TRMM) </a> precipitation data. The TRMM was a joint mission between NASA and the Japan Aerospace Exploration (JAXA) Agency to study rainfall for weather and climate research. The TRMM ran from Nov 1997 to April 2015, collecting over 17 years of daily rainfall data. This database was populated with daily rainfall measurements in floating point Geotiff format at 0.25° resolution, from the <a href='http://neo.sci.gsfc.nasa.gov/view.php?datasetId=TRMM_3B43D'>NASA Earth Observations (NEO)</a> site.    </p>
        <h2 class = about_header> Usage </h2>
        <p class= about_text>
        Any global location within -35° and 35° latitude, and -180° and 180° (as per the boundaries of the original dataset) can be queried, between 1 Jan 1998 and 30 Sept 2015. Data will be returned for the nearest point to the one queried. Please note: these data have been scaled and resampled for visualisation purposes by NEO, and are not suitable for rigorous scientific investigations. For more information, see <a href=http://neo.sci.gsfc.nasa.gov/blog/2013/12/23/csv-and-floating-point-geotiffs/> here</a>.</p>

        </div>

    </div>
  </div>


 {%include 'footer.html'%}
</body>
</html>