<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/style.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,200,500' rel='stylesheet' type='text/css'>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/favicon-umbrella.ico" />
</head>