<!DOCTYPE html>

<html>
{%include 'head.html' %}

<body>

  <nav>

      <a class = nav_link href= '/'> NEW QUERY </a>
      <a class = nav_link href = '/about'> ABOUT </a>

    </nav>

  <div class=container>
    <div class=content>

       <div class="title">
          <h1>
          rainfall tracker

          </h1>
       </div>
       <div>
           <h2> Search worldwide historic rainfall data </h2>
       </div>

       <div class = entry_box>
        <div>
               {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p id= 'warning'>{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}
              </div>
            <form action="/result" method="post">
              <div class = form_input>
                <p class= input_text>Start date:</p>
                <input type='date' name = 'start_date' min='1998-01-01' max='2015-09-30'
                class = input_form>
              </div>
              <div class = form_input>
                <p class = input_text>End date:</p>
                <input type='date' name = 'end_date' min='1998-01-01' max='2015-09-30'
                class = input_form>
              </div>
              <div class = form_input>
                <p class = input_text>Latitude:</p>
                <input type='number' step='any' name = 'latitude' min=-49 max=49 value = 40.79
                class = input_form>
              </div>
              <div class = form_input>
                <p class = input_text >Longitude:</p>
                <input type='number' step='any' name = 'longitude' min = -179 max =180 value = -73.95
                class = input_form>
              </div>

              <div class = button_box>
                <button type="submit" value="Submit">Submit</button>
              </div>



        </form>

       </div>

    </div>
  </div>


 {%include 'footer.html'%}
</body>
</html>